@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* styles/globals.css */
@font-face {
  font-family: 'geist';
  src: url('/fonts/Geist-ExtraBold.ttf') format('truetype');
}





/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* 
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

/* .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
} */


:root {
}
*{
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

@layer components {
  .roboto-font {
    font-family: "Roboto", sans-serif !important;
  }
  .poppins-font {
    font-family: "Poppins", sans-serif !important;
  }
  .manrope-font {
    font-family: "Manrope", sans-serif;
  } 
  .geist-font {
    font-family: 'geist', sans-serif;
  } 
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* Eğer sağdan sola dikey yazmak istiyorsan */
  }
  .primary-button{
    @apply text-dark-red hover:text-light-yellow border border-dark-red hover:bg-dark-red font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full sm:w-[200px] transition-all active:opacity-90;
  }
  .primary-button-white{
    @apply text-light-orange hover:text-white border border-white hover:bg-dark-red hover:border-light-orange font-medium rounded-md text-sm px-7 py-4 text-center me-2 mb-2 w-full sm:w-[200px] transition-all active:opacity-90;
  } 
  .primary-button-main{
    @apply text-light-yellow bg-orange hover:text-yellow border border-yellow hover:bg-dark-red font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full sm:w-[200px] transition-all active:opacity-90;
  }
}



/* text slide animation */
@keyframes slide {
  0% {
    transform: translateX(0%); /* Sağdan başla */
  }
  100% {
    transform: translateX(-100%); /* Soldan çık */
  }
}

.sliding-text {
  animation: slide 30s linear infinite; /* Süreyi burada ayarlayın */
}