@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* styles/globals.css */
@font-face {
  font-family: "geist";
  src: url("/fonts/Geist-ExtraBold.ttf") format("truetype");
}

/* 
.manrope {
  font-family: "Manrope", sans-serif; 
}  
.poppins {
  font-family: "Poppins", sans-serif; 
} 
 .roboto {
  font-family: "Roboto", sans-serif; 
}

  font-family: "Inter", sans-serif;
 */

:root {
}
* {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}
html {
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

@layer components {
  .roboto-font {
    font-family: "Roboto", sans-serif !important;
  }
  .poppins-font {
    font-family: "Poppins", sans-serif !important;
  }
  .manrope-font {
    font-family: "Manrope", sans-serif;
  }
  .geist-font {
    font-family: "geist", sans-serif;
  }
  .inter-font {
    font-family: "Inter", sans-serif;
  }
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* Eğer sağdan sola dikey yazmak istiyorsan */
  }
  .primary-button {
    @apply text-dark-red hover:text-light-yellow border border-dark-red hover:bg-dark-red font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full sm:w-[200px] transition-all active:opacity-90;
  }
  .primary-button-white {
    @apply text-light-orange hover:text-white border border-white hover:bg-dark-red hover:border-light-orange font-medium rounded-md text-sm px-7 py-4 text-center me-2 mb-2 w-full sm:w-[200px] transition-all active:opacity-90;
  }
  .primary-button-main {
    @apply text-light-yellow bg-orange hover:text-yellow border border-yellow hover:bg-dark-red font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full sm:w-[200px] transition-all active:opacity-90;
  }
}



/* text slide animation */
@keyframes slide {
  0% {
    transform: translateX(0%); /* Sağdan başla */
  }
  100% {
    transform: translateX(-100%); /* Soldan çık */
  }
}

.sliding-text {
  animation: slide 30s linear infinite; /* Süreyi burada ayarlayın */
}



/* whatsapp button animations */
.heart-beat {
  animation: beat 1.5s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9) skew(0.004turn);
  }
  21% {
    transform: scale(1.1) skew(0.008turn);
  }
  29% {
    transform: scale(1);
  }
  35% {
    transform: scale(1) skew(0);
  }
}
.heart-echo {
  animation: echo 1.5s linear infinite;
}

@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  14% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  21% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}



/* !input auto full ayarla */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  background-clip: text;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
